/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */

$navbar-color: #000000;
$nav-margin: 50px;


/*# sourceMappingURL=main.css.map */
body {
  margin: 0;
  padding: 0;
}

.centerNav {
  margin: 0 auto;
  width: 500px;
}

.red {
  background: red;
  // width: 600px;
  margin: auto;

}

.collapse.navbar-collapse  {

  ul {
    position: absolute;
    left: 48%;
    transform: translateX(-50%);

    >li>a{
      color: white;

      &:hover{
      color: red;
      }
    }
  }
}



.navbar-inverse {

  .navbar-brand {
    color: white;

    &:hover {
      color: red;
    }
  }
}



.location {
  background: white;
  width: 100%;
  height: 100vh;
  padding-top: $nav-margin;
}

.gallery {
  background: black;
  width: 100%;
  height: 100vh;
  padding-top: $nav-margin;
}

.lofts {
  background: red;
  width: 100%;
  height: 100vh;
  padding-top: $nav-margin;
}

.residents {
  width: 100%;
  height: 100vh;
  padding-top: $nav-margin;
}

.team {
  background: white;
  width: 100%;
  height: 100vh;
  padding-top: $nav-margin;
}

.contact {
  background: black;
  width: 100%;
  height: 100vh;
  padding-top: $nav-margin;
}

.navbar-inverse {
  background: $navbar-color;
}

.button {
  height: 14vh;
  background: black;
  position: relative;
  margin-top: 30px;
  cursor: pointer;

  span{
    position: absolute;
    font-size: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    width: 100%
  }
}

.heading {
  text-transform: capitalize;
  color: red;
  margin-left: 15px;
}
